<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<header class="top-nav-header">

  <div class="header-title">
    <h1><a routerLinkActive="Active" routerLink="/home">{{ headerTitle }}</a></h1>
  </div>
  <div class="header-menu">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActddive="active">Home</a>
      </li>
      <li>
        <a routerLink="/blog" routerLinkActive="active">Category</a>
      </li>
      <li>
        <a routerLink="/blog" routerLinkActive="active">Contact</a>
      </li>
      <li>
        <a routerLink="/blog" routerLinkActive="active">About</a>
      </li>
      <li>
        <a routerLink="/blog" routerLinkActive="active">Blog</a>
      </li>
      <li>
        <a routerLink="/users" routerLinkActive="active">Users</a>
      </li>
    </ul>
  </div>

  <div class="icons">
    <div id="menu-btn" class="fas fa-bars"></div>
    <div id="search-btn" class="fas fa-search"></div>
    <div id="cart-btn" class="fas fa-shopping-cart"></div>
    <div id="login-btn" class="fas fa-user"></div>
  </div>

<!--
  <form action="" class="search-from">
    <input type="search" placeholder="search here..." id="search-box">
    <label for="search-box" class="fas fa-search"></label>
  </form>
-->

</header>
